* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    flex-direction: column;
}

#OneLabInp {
    font-size: 30px;
}

.row {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#imgAtOneLab {
    padding: 25px 0;
}

#button {
    margin: 25px 0;
}

.One_Lab, .Two_Lab_box {
    border: 5px solid black;
    margin: 25px 0;
}

.One_Lab p {
    font-size: 25px;
}

